@import "tailwindcss";

:root {
  /* システム全体の色設定 */
  --foreground-rgb: 15, 23, 42;
  --background-start-rgb: 248, 250, 252;
  --background-end-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* スマホでの入力フォーム拡大防止 */
@layer base {
  input, select, textarea {
    font-size: 16px !important; 
  }
}